body{
    background-image: url(bg.jpeg);
    background-size: cover;
    min-height: 100vh;
  }
  
  .flappy-bird{
    position:absolute;
    width: 150px;
    left:10%;
    top:30%;
   
    animation: birdAnimation 3s infinite;
  }
  
  .flappy-bird img{
    width: 100%;
  }
  
  @keyframes birdAnimation{
    0%{
      left:10%;
      top:30%;
      transform: rotate(30deg);
    }
    30%{
      left:20%;
      top:70%;
      transform: rotate(-30deg);
  
    }
    100%{
      left:10%;
      transform: rotate(30deg);
      top:30%;
    }
  }